<!DOCTYPE html>
<head>
  <title>Page Edit</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Baloo+Bhai%7CCandal%7CChewy&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
  <!-- <link rel="stylesheet" href="../public/stylesheets/style.css" /> -->
</head>
<body id="body">
  <div class="formBox">
    <h2>Create Format Rules</h2>
    <div class="todo">
      <form action="/" method="POST" class="todo-header">
        <label>Name:</label>
        <input type="text" name="name" /><br>
        <label>Background Color</label>
        <input type="color" name="bgColor" /><br>
        <label>Text Color</label>
        <input type="color" name="textColor" /><br>
        <button type="submit" class="submit"><span class="fas fa-plus"></span></button>
        <button class="clear"><span class="fas fa-eraser"></span></button>
      </form>
      <h2>Select Format</h2>
      <ul class="todo-list">
        <% todoTasks.forEach(details => { %>
        <li class="todo-list-item">
          <div class="todo-list-item-name"><%= details.name %></div>
          <a href="/select/<%= details._id %>" class="select">
            <span class="fas fa-spinner" onclick="change()"></span>
          </a>
          <a href="/remove/<%= details._id %>" class="remove">
            <span class="fas fa-times"></span>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
<script>
  let back;
  let text;
  let bgColor = back || "#bada55";
  let textColor = text || "black";
  document.getElementById("body").style.backgroundColor = bgColor;
  document.getElementById("body").style.color = textColor;
  async function change(){
    console.log("changing");
  }
</script>